<h1 style="text-align: center;">Book Store</h1>


<%= link_to 'Customer(s) Page', customers_path %>
<br>
<%= link_to 'Author(s) Page', authors_path %>
<br>
<%= link_to 'Supplier(s) Page', suppliers_path %>
<br>
<%= link_to 'All Available Book(s) Page', books_path %>
